---
import { sanityClient } from "sanity:client";
import MainLayout from "../../layouts/MainLayout.astro";

const posts = await sanityClient.fetch(
  `*[_type == "posts" && defined(slug)] | order(publishedAt desc)`
);
---

<MainLayout title="Posts">
  <h1>Blog</h1>
  <ul>
    {
      posts.map((post: any) => (
        <li>
          <a href={"/posts/" + post.slug.current} class="post-link">
            {post.title}
          </a>
        </li>
      ))
    }
  </ul>
</MainLayout>
